#landing {
  min-width: 100vw;
  min-height: 100vh;
  background: url(../images/coffee/coffee-edit.jpg) no-repeat center 40% / cover
    fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#landing .title {
  text-align: center;
  margin-bottom: 5rem;
}

#landing h1 {
  font-size: 4rem;
  color: var(--light-color);
}

#landing p.lead {
  font-size: 1.25rem;
  color: var(--light-color);
}
