footer {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 1rem 8rem;
  background: var(--dark-color);
  color: var(--light-color);
  font-size: 1.1rem;
}

footer > div {
  padding: 2rem;
}

footer div h3 {
  padding: 0.2rem;
  text-decoration: underline;
  text-align: center;
}

footer div ul {
  list-style: none;
  line-height: 1.5;
}

footer div ul li {
  margin: 1rem 0;
}

footer div ul li a {
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease-in-out;
}

footer div ul li a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

footer div a {
  color: var(--light-color);
  text-decoration: none;
}

/* MEDIA */
@media (max-width: 770px) {
  footer {
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
