@import url("https://fonts.googleapis.com/css?family=BioRhyme|Cabin&display=swap");

/* var */
html {
  --dark-color: #333;
  --light-color: #fafafa;
  --primary-color: rgb(255, 232, 205);
  --secondary-color: rgb(255, 216, 172);
}

/* reset + main font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}

/* header font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BioRhyme", serif;
}

/* Icons */
.footer-facebook-icon,
.footer-twitter-icon {
  transition: color 0.3s ease-in-out;
}

.footer-facebook-icon:hover {
  color: #3c5a99;
}

.footer-twitter-icon:hover {
  color: #00aced;
}
