@import url("https://fonts.googleapis.com/css?family=BioRhyme|Cabin&display=swap");

/* var */
html {
  --dark-color: #333;
  --light-color: #f4f4f4;
  --primary-color: rgb(255, 245, 234);
  --secondary-color: rgb(255, 224, 188);
}

/* reset + main font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}

/* header font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BioRhyme", serif;
}

/* Icons */
.footer-facebook-icon,
.footer-twitter-icon {
  transition: color 0.3s ease-in-out;
}

.footer-facebook-icon:hover {
  color: #3c5a99;
}

.footer-twitter-icon:hover {
  color: #00aced;
}

/* utils */
.scrolled {
  background: var(--dark-color);
}

.btn {
  border: 2px solid var(--dark-color);
  color: var(--dark-color);
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.1rem;
}

.btn:hover {
  background: var(--dark-color);
  color: var(--light-color);
}
