header nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background: #333e;
  color: var(--light-color);
}

header nav h2 {
  font-size: 2rem;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  font-size: 1.1rem;
  margin: 1rem 1.5rem;
  border-bottom: transparent 2px solid;
  cursor: pointer;
}

header nav ul li:hover {
  border-bottom: #fafafa 2px solid;
}
